body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(255,255,255), rgb(254,215,173));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #555;
  }

  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
  }

  input[type="email"]:focus,
  textarea:focus {
    border-color: #007BFF;
    outline: none;
  }

  textarea {
    height: 150px;
    resize: vertical;
  }

  button {
    background-color: #808080;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }

  button:hover {
    background-color: #808080;
  }

  .form-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }

  .success-message {
    display: none;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
  }